---
title: Server
slug: server
headline: Run the Vite server
author: indaco
created_at: 24-Dec-2021
updated_at: 07-Mar-2022
draft: false
---

## sveltin server

Run the Vite server.

### Synopsis

It wraps svelte-kit defined commands to run the Vite server.

```bash
sveltin server [flags]
```

### Options

```bash
  -h, --help   help for preview
```

### SEE ALSO

- [sveltin](/cli/sveltin) - sveltin is the main command to work with SvelteKit powered static websites.
