/* style directives here */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	:root {
		--pure-white: #ffffff;
		--dark: #22272e /* tuna */;
		--pure-dark: #2d333b /* gun */;

		--color-text-base: #5c617a /* comet */;
		--color-text-base-hover: #1e2028 /* pearl */;
		--color-text-base-dark: #9596a9 /* manatee */;
		--color-text-base-dark-hover: #8098fb /* periblue */;

		--color-text-muted: #5c617a /* comet */;
		--color-text-muted-hover: #0b7599 /* darkcyan */;
		--color-text-muted-dark: #a0a1b2 /* santa */;
		--color-text-muted-dark-hover: #8098fb /* periblue */;

		--color-text-link: #0b7599 /* darkcyan */;
		--color-text-link-hover: #074f66 /* darkslategray */;
		--color-text-link-dark: #e6f4f1 /* brightgray */;
		--color-text-link-dark-hover: #58a9cf /* carolinablue */;

		--color-text-accent-dark: #9596a9 /* manatee */;
		--color-text-accent-dark-hover: #94a3b8 /* zinc-400 */;

		--color-text-heading: #5c617a /* comet */;
		--color-text-heading-hover: #0b7599 /* darkcyan */;
		--color-text-heading-dark: #d4d4d8 /* zinc-300 */;
		--color-text-heading-dark-hover: #94a3b8 /* zinc-400 */;

		--color-text-body: #64748b /* waterloo */;
		--color-text-body-hover: #9596a9 /* santa */;
		--color-text-body-dark: #a1a1aa /* zinc-400 */;
		--color-text-body-dark-hover: #5576f9 /* oyster */;

		--color-input-base: #4065f9 /* mana */;
		--color-input-base-hover: #464a5d /* river */;
		--color-input-muted: #a0a1b2 /* santa */;

		--color-fill-base: #f9fafe /* ghost */;
		--color-fill-base-hover: #f7f9ff /*#c5c7d3  metal */;
		--color-fill-base-dark: #1c2128 /* cinder */;
		--color-fill-base-dark-hover: #2d333b /* gun */;

		--color-fill-muted: #f9fafb /* alabaster */;
		--color-fill-muted-dark: #1e2028 /* pearl */;

		--color-fill-accent: #ac5dd9 /* lilac */;
		--color-fill-accent-hover: #c5c7d3 /* metal */;
		--color-fill-accent-dark: #1c2128 /* cinder */;
		--color-fill-accent-dark-hover: #22272e /* tuna */;

		--color-border-base: #f0f0f0 /* smoke */;
		--color-border-base-dark: #22272e /* tuna */;
		--color-border-muted: #0b7599 /* darkcyan */;
		--color-border-muted-dark: #2d333b /* gun */;
		--color-border-accent: #0b7599 /* oyster */;
		--color-border-accent-dark: #1e2028 /* pearl */;
	}

	.theme-hasselnot {
		--pure-white: #ffffff;
		--dark: #22272e /* tuna */;
		--pure-dark: #2d333b /* gun */;

		--color-text-base: #5c617a; /* comet */
		--color-text-base-hover: #1e2028 /* pearl * /;
		--color-text-base-dark: #9596a9 /* manatee */;
		--color-text-base-dark-hover: #8098fb /* periblue */;

		--color-text-muted: #5c617a /* comet */;
		--color-text-muted-hover: #5576f9 /* oyster */;
		--color-text-muted-dark: #a0a1b2 /* santa */;
		--color-text-muted-dark-hover: #8098fb /* periblue */;

		--color-text-accent: #5576f9 /* oyster */;
		--color-text-accent-hover: #464a5d /* river */;
		--color-text-accent-dark: #9596a9 /* manatee */;
		--color-text-accent-dark-hover: #8098fb /* periblue */;

		--color-text-heading: #5c617a /* comet */;
		--color-text-heading-hover: #5576f9 /* oyster */;
		--color-text-heading-dark: #9596a9 /* manatee */;
		--color-text-heading-dark-hover: #8098fb /* periblue */;

		--color-text-body: #7f8198 /* waterloo */;
		--color-text-body-hover: #9596a9 /* santa */;
		--color-text-body-dark: #9596a9 /* santa */;
		--color-text-body-dark-hover: #5576f9 /* oyster */;

		--color-text-link: #5576f9 /* oyster */;
		--color-text-link-hover: #5c617a /* comet */;
		--color-text-link-dark: #9596a9 /* manatee */;
		--color-text-link-dark-hover: #8098fb /* periblue */;
		/*--color-text-link-dark-hover: #c5c7d3  metal */

		--color-input-base: #4065f9 /* mana */;
		--color-input-base-hover: #464a5d /* river */;
		--color-input-muted: #a0a1b2 /* santa */;

		--color-fill-base: #f9fafe /* ghost */;
		--color-fill-base-hover: #c5c7d3 /* metal */;
		--color-fill-base-dark: #1c2128 /* cinder */;
		--color-fill-base-dark-hover: #2d333b /* gun */;

		--color-fill-muted: #f9fafb /* alabaster */;
		--color-fill-muted-dark: #1e2028 /* pearl */;

		--color-fill-accent: #ac5dd9 /* lilac */;
		--color-fill-accent-hover: #c5c7d3 /* metal */;
		--color-fill-accent-dark: #1c2128 /* cinder */;
		--color-fill-accent-dark-hover: #22272e /* tuna */;

		--color-border-base: #f0f0f0 /* smoke */;
		--color-border-base-dark: #22272e /* tuna */;
		--color-border-muted: #8098fb /* periblue */;
		--color-border-muted-dark: #2d333b /* gun */;
		--color-border-accent: #5576f9 /* oyster */;
		--color-border-accent-dark: #1e2028 /* pearl */;
	}
}

.md-content {
	@apply prose prose-sveltin;
}

.md-content-dark {
	@apply prose-invert;
}
